.padded
  .ul.action-nav-normal.rounded
        
    %li.action-nav-button
      = link_to refinery.new_groups_admin_group_user_path(@group), title: t('refinery.groups.admin.groups.group.add_user'), class: 'tip' do
        %i.icon-user
      %span.triangle-button.green
        %i.icon-plus
      
    - unless @group.is_guest_group? || !current_refinery_user.is_group_superadmin? 
      %li.action-nav-button
        = link_to refinery.edit_groups_admin_group_path(@group), title: t('refinery.groups.admin.groups.group.edit'), class: "tip" do
          %i.icon-group
        %span.triangle-button.blue
          %i.icon-edit
      
      %li.action-nav-button
        = link_to refinery.groups_admin_group_path(@group), 
                title: t('refinery.groups.admin.groups.group.delete'),
                data: {confirm: t('message', scope: 'refinery.admin.delete', title: @group.name)},
                method: :delete,
                class: 'tip',
                id: "delete_group" do
          %i.icon-trash
        %span.triangle-button.red
          %i.icon-minus
          
    - else
      %li.action-nav-button.editable-disabled
        = link_to '#', style:"cursor:default;color: #585858;" do
          %i.icon-group
        %span.triangle-button.gray
          %i.icon-edit
      
      %li.action-nav-button
        = link_to '#', style:"cursor:default;color: #585858;" do
          %i.icon-trash
        %span.triangle-button.gray
          %i.icon-minus