

.row
  .col-md-8
    .box
      .box-header
        %span.title= @group.name
        %ul.box-toolbar
          %li 
            %span.label.label-purple= t('users', count: @group.users.size, scope: 'refinery.groups.admin.groups.show')
          - unless @group.is_guest_group? || @group.expires_on.nil?
            %li
              %span.label{class: @group.expired? ? 'label' : (@group.soon_expired? ? 'label-orange' : 'label-green')}
                - if @group.expired?
                  = t('.expired_since', expires_on: distance_of_time_in_words_to_now(@group.expires_on))
                - else
                  = t('.expires_on', expires_on: distance_of_time_in_words_to_now(@group.expires_on))

      .box-content.padded
         

        = @group.description
        
  
  .col-md-4
    = render 'show_buttons'
                  

.row
  .col-md-8
    = render 'show_users', {selecting: false}

