%tr
  - if selecting
    %td
      = check_box_tag 'group[user_ids][]', user.id
  %td.title
    %strong
      = user.username
  %td.preview
    = user.email
  %td
    = l(user.created_at, :format => :short)
  %td
    %center
      - if user.has_role?(Refinery::Groups.admin_role)
        %span.label.label-purple= t('refinery.groups.groupadmin')
  - unless selecting 
    %td
      %center
      
        .btn-group
          
          - if current_refinery_user.can_edit?(user)
            = link_to refinery.edit_groups_admin_group_user_path(@group, user), 
              class: "edit_user tip btn btn-xs btn-default", 
              title: t('edit', :scope => 'refinery.admin.users') do
              %i.icon-edit.row-blue
          - else
            %button.btn.btn-xs.btn-default.disabled
              %i.icon-edit{style:"cursor:default;"}
        
          
          - if current_refinery_user.can_delete?(user)
            = link_to refinery.groups_admin_group_user_path(@group, user), 
              class: "cancel confirm-delete delete_user tip btn btn-xs btn-default", 
              title: t('delete', :scope => 'refinery.admin.users'), 
              method: :delete, 
              data: {confirm: t('message', scope: 'refinery.admin.delete', title: user.username)} do
              %i.icon-trash.row-red
          - else
            %button.btn.btn-xs.btn-default.disabled
              %i.icon-trash{style:"cursor:default;"}
        
        
     