!!!
= render '/refinery/html_tag'

- content_for :meta do
  %meta{refinerycms: Refinery.version}
  %meta{name: "viewport", content: "width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"}

= render '/refinery/admin/head'

%body{class: I18n.locale }
  = render '/refinery/site_bar'
  = render '/refinery/admin/menu'
  
  - plugin = Refinery::Plugins.active.try(:find_current, params) ||  Refinery::Plugin.new

  .main-content
    .container
      .row
        .area-top.clearfix
          .pull-left.header
            %h3.title
              %i{class: "icon-#{plugin.icon}"}
              = plugin.title
            %h5
              %span Trop Cool
              
    .container.padded
      .row
        #breadcrumbs
          .breadcrumb-button.blue
            %span.breadcrumb-label
              %i.icon-home
              Home
            %span.breadcrumb-arrow
              %span
            
          .breadcrumb-button
            %span.breadcrumb-label
              %i{class: "icon-#{plugin.icon}"}
              = plugin.title
            %span.breadcrumb-arrow
              %span
              
          .breadcrumb-button
            %span.breadcrumb-label
              %i{class: "icon-#{plugin.icon}"}
              = plugin.title
            %span.breadcrumb-arrow
              %span
            
    .container
      = render '/refinery/no_script'
      = render '/refinery/message'
      = yield
  
</html>

